################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/gensoband
/lib/apex/
/lib/data/
/lib/save/
/lib/user/
/gensoband.INI
/gensoband.pdb
/gensoband.sln
/gensoband.vcxproj
/gensoband.vcxproj.filters
/gensoband.vcxproj.user
/Release
